.content{
	width: 700px;
	margin-left: 50px;
}

.content-head{
	height: 150px;
}
.image1 img{
	height: 120px;
	margin-bottom: 20px;
	position: absolute;
}
.image1{
	padding-bottom: 15px;
}
.content-head{
	position: relative;
}
.news1{
	position: absolute;
}
.news1{
	left: 250px;
	margin-top: -15px;
}
h4{
	margin-top: 0px;
	font-size: 20px;

}
hr{
	margin-top: 20px;
	margin-bottom: 20px;
}
.infor a, time{
	color: #746e6e;
	text-decoration: none;	
}